@model NoteApp.Models.Resume
<tr>
    <td>
        <a href="@Url.Action("Details", new { resumeId = Model.Id })" class="resume">@Html.DisplayFor(model => model.FIO, "ResumeFIO")</a>
    </td>
    <td>
        @Html.DisplayFor(model => model.Birthday)
    </td>
    <td>
        @Html.DisplayFor(model => model.Requirments, "ResumeRequirment")
    </td>
    <td>
        @if (Model.Photo.Path != null && Model.Photo.Name != null)
        {
            <style>
                .round {
                    border-radius: 100px;
                    border: 2px solid gray;
                    box-shadow: 0 0 5px #666;
                }
            </style>
            <div class="result">
                <img src="@Path.Combine($"/Uploaded Files/{ User.Identity.Name}/{ Model.Photo.Name}")" width="90" height="90" alt="image" class="round" />
            </div>
        }

    </td>
</tr>