<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title My Recruitment Agency</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/summernote.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap-tagsinput.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.8.3.js"></script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("ResumeApp", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                @Html.Partial("_LoginPartial")
                @if (User.IsInRole("Admin"))
                {
                    <ul class="nav navbar-nav navbar-right">
                        <li>@Html.ActionLink("Домашняя страница", "Index", "Home")</li>
                        <li>@Html.ActionLink("Управление пользователями", "Manage", "User")</li>
                        <text style="color:white;">Admin</text>
                    </ul>
                }
                else if (User.IsInRole("Candidate"))
                {
            <ul class="nav navbar-nav navbar-right">
                <li>@Html.ActionLink("Создание нового резюме", "Create", "Resume")</li>
                <li>@Html.ActionLink("Список резюме", "Index", "Resume")</li>
                <li>@Html.ActionLink("Поиск новой вакансии", "Index", "Vacancy")</li>
            </ul>
                }
                else if (User.IsInRole("Employer"))
                {
            <ul class="nav navbar-nav navbar-right">
                <li>@Html.ActionLink("Создание новой вакансии", "Create", "Vacancy")</li>
                <li>@Html.ActionLink("Список вакансий", "Index", "Vacancy")</li>
                <li>@Html.ActionLink("Поиск нового кандидата по резюме", "Index", "Resume")</li>
            </ul>
                }
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My Recruitment Agency</p>
        </footer>
    </div>
    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/bootstrap-tagsinput.js"></script>
    <script src="~/Scripts/summernote.js"></script>
    <script src="~/Scripts/custom-editor.js"></script>
    <script>
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>
    @RenderSection("scripts", false)
</body>
</html>